#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

label input[type="checkbox"] {
  margin-right: 5px;
}

.finalProductWrapper {
  padding: 20px 70px;

  .cakeLayer {
    $frosting-width: 20px;
    $frosting-height: $frosting-width * .6;
    $cake-height: 90px;
    $filling-height: 10px;

    padding-top: $frosting-height;
    padding-left: $frosting-width;
    padding-right: $frosting-width;
    padding-bottom: 0;
    height: $frosting-height + $cake-height + $filling-height;
    width: 100%;

    .filling {
      height: $filling-height;
    }

    .layerInner {
      height: $cake-height;
      width: 100%;
    }

    p {
      margin: 0;
    }
  }
}